# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.log
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Environment
.env
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db